.text__blue {
    color: #00ADEF;
}

.icon {
    @media (max-width: 1024px) {
        width: 100%;
        height: auto;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    overflow: hidden;
}

.terms__big {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.terms__small {
    display: block;

    @media (min-width: 1024px) {
        display: none;
    }
}

.application {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 32px 10px 10px 10px;
    background-color: #E8F4FA;

    @media (min-width: 425px) {
        padding: 32px;
    }

    @media (min-width: 1024px) {
        padding: 56px;
    }
}

.application::before {
    display: none;

    @media (min-width: 1024px) {
        content: '';
        position: absolute;
        top: -615px;
        right: -295px;
        width: 400px;
        height: 400px;
        background-color: rgba(125, 213, 247, 0.6);
        border-radius: 50%;
    }
}

.application__title {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
    color: #000000;
    font-size: 28px;
    font-family: Muller, Arial, Helvetica, sans-serif;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1024px) {
        font-size: 45px;
    }
}

.form__wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
}