.header {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 32px;
        background-color: #ffffff;
    }
}

.logo__icon {
    display: none;

    @media (min-width: 768px) {
        display: block;
        width: 100%;
        height: auto;
    }
}

.logo__minIcon {
    display: block;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
        display: none;
    }
}

.navigation {

    @media (min-width: 768px) {
        display: flex;
        gap: 24px;
    }
}

.navigation__link {
    color: #000000;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;

    @media (min-width: 915px) {
        font-size: 24px;
    }
}

.navigation__link:hover {
    color: #0085ba;
}