.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 32px;
    background-color: #ffffff;
}

.logoWrapper {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.logoWrapper a {
    text-decoration: none;
}

.logo {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.logo__text {
    color: #515151;
    font-size: 20px;
    font-family: PT-Sans, "Arial", "Helvetica", sans-serif;
}

.logo__text__blue {
    color: #00ADEF;
}

.aboutWrapper {
    display: flex;
    gap: 72px;
}

.about {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 425px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 200px;
}

.contacts a {
    color: #515151;
    text-decoration: none;
}

.about__title {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 20px;
    font-family: PT-Sans, "Arial", "Helvetica", sans-serif;
}

.contacts .about__title {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.about__text {
    margin: 0;
    padding: 0;
    color: #515151;
    font-size: 16px;
    font-family: PT-Sans, "Arial", "Helvetica", sans-serif;
    line-height: 180%;
}

.adress {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.footer__button {
    display: none;

    @media (min-width: 768px) {
        display: block;
        align-self: flex-start;
        padding: 12px 24px;
        font-size: 16px;
        font-family: PT-Sans, "Arial", "Helvetica", sans-serif;
        color: #ffffff;
        background-color: #00ADEF;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
}